* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-bg {
  background: #f8f8ff;
  margin-bottom: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo h1 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  max-width: 650px;
  line-height: 48px;
  font-weight: 700;
}

.conteudo span{
  color: #846aff;
}

.conteudo p{
  max-width: 550px;
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 400;
}

.conteudo button{
  padding: 14px 32px;
  text-transform: uppercase;
  background: #846aff;
  font-weight: 700;
  font-size: 1.125rem;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  max-width: 250px;
  cursor: pointer;
}

/* main */
main{
  max-width: 1280px;
  margin: 0 auto;
}

main h2{
  font-size: 2rem;
  margin-bottom: 60px;
}

ul{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

li{
  max-width: 389px;
  margin-bottom: 60px;
}

figure{
  border: 2px solid #eeeeff;
}

li img{
  margin-bottom: 32px;
  object-fit: cover;
  max-width: 100%;
}

li h3{
  font-size: 1.25rem;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 600;
  padding: 0 24px;
}

li p {
  padding: 0 24px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 27px;
}
