* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-bg {
  background: #f8f8ff;
  margin-bottom: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo h1 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  max-width: 650px;
  line-height: 48px;
  font-weight: 700;
}

.conteudo span {
  color: #846aff;
}

.conteudo p {
  max-width: 550px;
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 400;
}

.conteudo button {
  padding: 14px 32px;
  text-transform: uppercase;
  background: #846aff;
  font-weight: 700;
  font-size: 1.125rem;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  max-width: 250px;
  cursor: pointer;
  transition: 0.3s;
}

.conteudo button:hover {
  background: #535066;
}

/* main */
main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 60px;
  color: #121214;
  font-weight: 600;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

li {
  max-width: 389px;
  margin-bottom: 32px;
}

figure {
  border: 2px solid #eeeeff;
}

li img {
  margin-bottom: 32px;
  object-fit: cover;
  max-width: 100%;
}

li h3 {
  font-size: 1.25rem;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 600;
  padding: 0 24px;
  color: #121214;
}

li p {
  padding: 0 24px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 27px;
  color: #121214;
}

.footer-bg {
  background: #f8f8ff;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.footer-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-container h3 {
  color: #121214;
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 700;
}

.footer-container input {
  height: 60px;
  padding: 19px 24px;
  border: 1px solid #eaeaea;
}

.footer-container textarea {
  resize: none;
  height: 150px;
  padding: 19px 24px;
  border: 1px solid #eaeaea;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.footer-container input,
.footer-container textarea,
.footer-container button {
  width: 570px;
  border-radius: 4px;
  color: #7c7c8a;
}

.footer-container input::-webkit-input-placeholder,
.footer-container textarea::-webkit-input-placeholder {
  color: #7c7c8a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.footer-container input:focus,
.footer-container textarea:focus {
  outline: 1px solid #b3b3b3;
}

.footer-container button {
  text-transform: uppercase;
  padding: 14px 32px;
  background: #846aff;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.footer-container button:hover {
  background: #535066;
}

/* responsivo */
@media (max-width: 900px) {
  /* header */
  .header-bg{
    margin-bottom: 60px;
  }
  .header-container {
    flex-direction: column;
    padding: 64px 0;
  }
  .conteudo {
    order: 2;
    gap: 24px;
  }
  .conteudo h1 {
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
  }
  .conteudo p {
    margin: 0 auto;
    max-width: 500px;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
  }
  .conteudo button{
    margin: 0 auto;
    font-size: 1.125rem;
  }
  .header-img img {
    order: 1;
    margin-bottom: 24px;
  }
  /* main */
  main h2 {
    font-size: 1.75rem;
    margin-bottom: 50px;
  }
  ul {
    gap: 24px;
  }
  li {
    max-width: 335px;
    margin-bottom: 32px;
  }
  li h3 {
    font-size: 1.125rem;
    line-height: 22px;
    margin-bottom: 12px;
    padding: 0 14px;
  }
  li p {
    padding: 0 14px;
    margin-bottom: 24px;
    font-size: .875rem;
    line-height: 18px;
  }
}


@media (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
  /* header */
  .conteudo h1 {
    font-size: 1.5rem;
    line-height: 28px;
  }
  .conteudo p {
    font-size: 1rem;
    line-height: 22px;
    max-width: 330px;
  }
  .conteudo button{
    margin: 0 auto;
    font-size: .875rem;
  }
  /* main */
  main h2 {
    font-size: 1.5rem;
  }
  ul {
    gap: 24px;
  }
  li {
    max-width: 327px;
    margin-bottom: 32px;
  }
  li h3 {
    font-size: .875rem;
    line-height: 18px;
    margin-bottom: 12px;
    padding: 0 12px;
  }
  li p {
    padding: 0 12px;
    margin-bottom: 24px;
    font-size: .875rem;
  }
}
